.c-btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  touch-action: manipulation;
  transition: background 0.3s ease 0s;
  user-select: none;
  vertical-align: middle;
}

.c-btn:hover {
  background: $bg-color-primary-variant none repeat scroll 0 0;
}
