.DS_Store

docker/db/db-variables.env
docker/nginx/nginx.conf

api/node_modules
api/public/storage
api/public/apcu.php
api/public/phpinfo.php
api/public/ocp.php
api/storage/*.key
api/vendor
api/.env
api/.env.production
api/npm-debug.log
api/yarn-error.log
api/.vscode

client/node_modules
client/.nuxt
client/.vscode
client/.env
client/.env.production
client/.awspublish
client/dist
client/.awspublish-dokugaku-engineer-client
