.DS_Store

docker/db/db-variables.env
docker/nginx/nginx.conf

api/node_modules
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.production
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/npm-debug.log
api/yarn-error.log
api/.vscode

client/node_modules
client/.nuxt
client/.vscode
client/.env
client/.env.production
client/.awspublish
client/dist
client/deploy.sh
client/.awspublish-dokugaku-engineer-client
