.DS_Store

docker/db/db-variables.env
docker/nginx/nginx.conf
docker/db/mysql_data

api/.env
api/.env.production
api/.phpunit.result.cache
api/.vscode
api/node_modules
api/npm-debug.log
api/public/storage
api/public/apcu.php
api/public/phpinfo.php
api/public/ocp.php
api/storage/*.key
api/yarn-error.log
api/vendor

client/.awspublish
client/.awspublish-dokugaku-engineer-client
client/.env
client/.env.production
client/.nuxt
client/.vscode
client/coverage
client/dist
client/node_modules

