.l-header {
  background-color: $bg-color-light;
  padding: 10px 0 2px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-header {
    padding: 17px 0 10px;
  }
}

.l-header-logo {
  width: 170px;
}

@media screen and (min-width: 768px) {
  .l-header-logo {
    width: 222px;
  }
}
