* {
  font-size: inherit;
  line-height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease-in-out .3s;
  vertical-align: baseline;
}

:root {
  font-size: 62.5%;
}

body {
  color: $color-black;
  font-size: $font-size-base;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.7142857143;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}