@charset "UTF-8";

body {
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Yu Gothic", YuGothic, Arial, Meiryo, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.btn-xs {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
}

.wrapper {
  display: flex;
  width: 100%;
}

.sidebar {
  background: #2f4050;
  color: #fff;
  transition: all 0.3s;
  min-height: 90vw;
  width: 220px;
}

.sidebar-header {
  text-align: center;
  margin: 10px 0 20px;
}

.sidebar-nav {
  margin-left: 10px;
}

.sidebar-nav li {
  display: block;
  width: 100%;
}

.sidebar-nav li a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.sidebar-nav li a i {
  margin-right: 6px;
}

.page-wrapper {
  background-color: #f3f3f4;
}

.page-heading {
  padding: 10px 10px 20px 10px;
}

.box {
  display: block;
  clear: both;
  margin: 0 auto 20px;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 1px 0;
}

.box-title {
  background-color: #fff;
  border-color: #e0e0e0;
  border-style: solid solid none;
  border-width: 2px 0 0;
  margin-bottom: 0;
  padding: 15px 0 8px 10px;
  min-height: 48px;
}

.box-content {
  background-color: #fff;
  padding: 15px 20px 20px 20px;
  border-color: #e0e0e0;
  border-style: solid solid none;
  border-width: 1px 0;
}

