.p-blog-aside {
  background-color: $color-white1;
  float: none;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: $font-size-sm;
  width: 100%;
}

.p-blog-aside__title {
  background-color: $color-teal1;
  color: $color-white1;
  font-size: $font-size-lg;
  font-weight: 700;
  padding: 7px 15px;
}

.p-blog-aside__writer {
  padding: 18px 10px;
  color: $color-gray3;
}

.p-blog-aside__writer-img {
  border: solid 2px $color-white2;
  border-radius: 50%;
  float: left;
  width: 30%;
}

.p-blog-aside__writer-profile {
  float: right;
  width: 67%;
}

.p-blog-aside__writer-name {
  font-size: $font-size-sm;
  font-weight: 700;
}

.p-blog-aside__writer-detail {
  font-size: $font-size-xs;
}
