.p-blog-category {
  border-bottom: solid 2px $color-black;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-blog-category {
    margin-bottom: 25px;
  }
}

.p-blog-category__title {
  font-size: $font-size-xxl;
  font-weight: 700;
  margin-bottom: 4px;
}
