.p-blog__content {
  margin-top: 6vw;
  padding: 0 3vw;
}

@media screen and (min-width: 768px) {
  .p-blog__content {
    margin: 60px auto 20px;
    padding: 0 15px;
    max-width: 1230px;
  }
}

.p-blog__main {
  float: none;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-blog__main {
    float: left;
    width: 65.5%;
  }
}

.p-blog__sidebar {
  float: none;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-blog__sidebar {
    float: right;
    width: 29%;
  }
}
