.p-blog-hero {
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
}

.p-blog-hero__cover {
  background: rgba(46, 61, 73, 0.6);
}

.p-blog-hero__inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .p-blog-hero__inner {
    width: 750px;
  }
}

.p-blog-hero__category {
  font-size: $font-size-xs;
  letter-spacing: 0.1em;
  padding: 70px 0 15px 0;
  text-align: center;
  font-weight: 500;
}

.p-blog-hero__title {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 20px 0 20px 0;
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .p-blog-hero__title {
    font-size: 2.8rem;
    max-width: 80%;
    margin: 0px auto;
  }
}

.p-blog-hero_btn {
  background: $bg-color-primay;
  display: block;
  font-size: $font-size-sm;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin: 40px auto 20px;
  max-width: 300px;
  padding: 1em 0.25em;
  width: auto;
}

@media screen and (min-width: 768px) {
  .p-blog-hero_btn {
    margin: 40px auto 40px;
  }
}
