@media screen and (min-width: 768px) {
  .p-blog__content {
    margin: 0 auto 20px;
    max-width: 1230px;
    padding: 0 15px;
  }
}

.p-blog__main {
  float: none;
  padding: 0 3vw;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-blog__main {
    float: left;
    width: 67%;
  }
}

.p-blog__sidebar {
  float: none;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-blog__sidebar {
    float: right;
    width: 29%;
  }
}
